* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
}

/* ============header style work============= */
header {
  background: #fff8f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 100vw;
  height: auto;
  flex-shrink: 0;
  background-image: url(./images/developer.png);
  background-repeat: no-repeat;
  background-position: 10% 65%;
}
nav {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
}
nav h1 {
  color: var(--dark-01, #181818);
  font-family: Open Sans;
  font-size: 45px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
nav ul li {
  display: inline;
  margin-right: 52px;
  color: var(--dark-02, #474747);
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.btn-head {
  width: 150px;
  height: 64px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #fd6e0a;
  border: none;
  color: var(--white-color, #fff);
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.head-section {
  background-image: url(./images/header_bg.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  display: flex;
  justify-content: space-between;
}
.header-info {
  margin: 14rem 21rem;
}
.header-info h1 {
  color: var(--dark-01, #181818);
  font-family: Open Sans;
  font-size: 85px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.header-info h2 {
  color: var(--dark-02, #474747);
  font-family: Open Sans;
  font-size: 45px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.header-info p {
  margin-top: 25px 0px;
  width: 585px;
  color: var(--dark-03, #757575);
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}
.btn-1 {
  margin: 20px 0px;
  border: none;
  border-radius: 5px;
  background: #fd6e0a;
  width: 200px;
  height: 64px;
  flex-shrink: 0;
  color: var(--white-color, #fff);
  text-align: center;
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.btn-2 {
  margin: 20px 15px;
  border: 1px solid #fd6e0a;
  border-radius: 5px;
  background: #fff8f3;
  width: 200px;
  height: 64px;
  flex-shrink: 0;
  color: #fd6e0a;
  text-align: center;
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
i {
  margin: 0px 8px;
}
.owner-pic {
  margin: 3rem 35px 0px 0px;
}

/* ============main style work============= */
main {
  margin: 130px 230px;
}
/* -----------------section-1 style------------------- */
.section-1 {
  background-color: #fff8f3;
  text-align: center;
  padding: 130px 156px;
}
.About-me h1 {
  color: var(--dark-01, #181818);
  text-align: center;
  font-family: Open Sans;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.About-me p {
  margin: 30px 0px;
  color: var(--dark-03, #757575);
  text-align: center;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}
.info {
  display: flex;
  justify-content: space-around;
}
.info div h1 {
  color: var(--dark-03, #757575);
  text-align: center;
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
}
.info div p {
  color: var(--dark-02, #474747);
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}

/* -----------------------section-2 style------------- */

.section-2 {
  margin-top: 130px;
}
.div-1 {
  text-align: center;
}
.div-1 h1 {
  margin-bottom: 30px;
  color: var(--dark-01, #181818);
  text-align: center;
  font-family: Open Sans;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.div-1 p {
  color: var(--dark-03, #757575);
  text-align: center;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}
.div-2 {
  margin: 50px 0 0 0;
    display: flex;
    justify-content: space-around;
}
.card {
  padding: 30px;
  border-radius: 5px;
background: #FFF;
box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.card h3 {
  padding: 30px 0px;

  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.card p {
  color: var(--dark-03, #757575);
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}
